body {
  margin: 0;
  color: #dadada;
  font-family: system-ui;
  background: #dadada;
  font-size: 12pt;
}

.background {
  position: absolute;
  left: -150vw;
  width: 200vw;
  height: 100vh;
  background: #35383D;
  transform: skew(-20deg);
  z-index: -10;
  box-shadow: 9px 0 17px 0px grey;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 10%;
}

.right {
  right: -35%;
  color: #35383D;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 16pt;
  text-align: center;
}

.logo {
  position: absolute;
  width: 300px;
  margin: 20px;
  margin-left: 5%;
  height: 140px;
  object-position: 0% 50%;
  object-fit: cover;
}