body {
  background-color: #0c0c0c;
  opacity: 0.9;
  background-image: radial-gradient(#242424 1.75px, #0c0c0c 1.75px);
  background-size: 35px 35px;
  color: white;
  font-family: sans-serif;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
